<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0601_绑定样式_class与style</title>
    <script src="../../js/vue.js"></script>
    <style>
        div {
            margin: 15px 0;
        }

        .basic {
            width: 400px;
            height: 100px;
            padding: 20px;
            border: 1px solid black;
            text-align: center;
            line-height: 100px;
        }

        .blue {
            background-color: aqua;
        }

        .grey {
            background-color: darkgrey;
        }

        .orange {
            background-color: orange;
        }

        .border {
            border: 10px solid red;
        }

        .bgColor {
            background-color: cornflowerblue;
        }

        .radius {
            border-radius: 50px;
        }

        span {
            background-color: gray;
            padding: 3px;
        }
    </style>
</head>

<body>
    <!-- 
        绑定样式：
            1、class样式
                写法：class="xxx" xxx可以是字符串、对象、数组；
                    字符串写法适用于：类名不确定，要动态获取；
                    对象写法适用于：要绑定多个样式，个数不确定，名字也不确定；
                    数组写法适用于：要绑定多个样式，个数不确定，名字也不确定，但不确定用不用；
            2、style样式
                :style="{fonSize:xxx}" 其中xxx是动态值
                :style="[a,b]"其中a、b是样式对象
     -->
    <div id="root">
        <!-- 
            绑定class样式：字符串写法，
                适用于：样式的类名不确定，需要动态指定；
         -->
        <div class="basic" :class="classStr">
            {{info}}字符串写法
        </div>
        <button @click="changeColor">随机变换颜色</button>
        <hr />
        <!-- 
            绑定class样式：数组写法，
                适用于：要绑定的样式个数不确定、名字也不确定；
         -->
        <div class="basic" :class="Array.from(classSet)">
            {{info}}数组写法
        </div>
        <div>
            class：<span>border</span>&nbsp;<span>bgColor</span>&nbsp;<span>radius</span>
        </div>
        <input type="text" v-model="inputAddClass" />
        <button @click="addClass">添加样式</button><br />
        <input type="text" v-model="inputDelClass" />
        <button @click="delClass">删除样式</button><br />
        <hr />
        <!-- 
            绑定class样式：对象写法，
                适用于：要绑定的样式个数确定、名字也确定，但要动态决定用不用；
         -->
        <div class="basic" :class="classObj">
            {{info}}对象写法
        </div>
        <input type="checkbox" id="temp1" v-model="classObj.orange" /> <label for="temp1">orange</label><br/>
        <input type="checkbox" id="temp2" v-model="classObj.radius" /> <label for="temp2">radius</label>
        <hr />
        <!-- 
            绑定style样式：
         -->
        <!-- 传统写法 -->
        <!-- <div class="basic" style="font-size:30px;color:blue;background-color:black"> -->
        <!-- 对象写法 -->
        <!-- <div class="basic" :style="styleObj"> -->
        <!-- 数组写法一 -->
        <!-- <div class="basic" :style="[styleObj1,styleObj2]"> -->
        <!-- 数组写法二 -->
        <div class="basic" :style="styleArr">
            {{styleInfo}}对象写法
        </div>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false
        const vm = new Vue({
            el: '#root',
            data: {
                info: '绑定class样式：',
                styleInfo: '绑定style样式：',
                classStr: 'orange',
                classSet: new Set(['border', 'bgColor', 'radius']),
                inputAddClass: '',
                inputDelClass: '',
                classObj: {
                    blue: false,
                    orange: false
                },
                styleObj: {
                    fontSize: '30px',
                    color: 'blue',
                    backgroundColor: 'black'
                },
                styleObj1: {
                    fontSize: '30px',
                    color: 'blue',
                },
                styleObj2: {
                    backgroundColor: 'black'
                },
                // styleArr: [{
                //     fontSize: '30px',
                //     color: 'blue',
                // }, {
                //     backgroundColor: 'black'
                // }],
                // styleArr: [this.styleObj1, this.styleObj2], //不能用这种写法！！！！
            },
            computed: {
                styleArr() {
                    return [this.styleObj1, this.styleObj2];
                }
            },
            methods: {
                changeColor() {
                    const colorArr = ['blue', 'grey', 'orange'];
                    const index = Math.floor(Math.random() * 3);
                    this.classStr = colorArr[index];
                },
                addClass() {
                    if (this.inputAddClass != '') {
                        this.classSet.add(this.inputAddClass);
                        this.inputAddClass = '';
                    }
                },
                delClass() {
                    if (this.inputDelClass != '') {
                        if (this.classSet.has(this.inputDelClass)) {
                            this.classSet.delete(this.inputDelClass);
                        }
                        this.inputDelClass = '';
                    }
                },
            }
        })
    </script>
</body>

</html>