<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../../js/vue.js"></script>
</head>

<body>
  <!-- 
      1、定义：要用的属性不存在，要通过已有属性计算得来。
      2、原理：底层借助了Object.defineProperty方法提供的getter和setter。
      3、get函数什么时候执行？
        （1）、初次读取时会执行一次。
        （2）、当依赖的数据发生改变时会被再次调用。
      4、优势：与methods实现相比，内部有缓存机制（复用），效率更高，调试方便。
      5、备注：
        （1）、计算属性最终会出现在vm上，直接读取使用即可。
        （2）、如果计算属性要被修改，那必须写set函数去响应修改，且set中要引起计算时依赖的数据发生改变。
  -->
  <div id="root">
    姓：<input type="text" v-model="firstName"><br />
    名：<input type="text" v-model="lastName"><br />
    测试：<input type="text" v-model="x"><br />
    全名：<span>{{fullName}}</span><br />
    全名：<span>{{fullName}}</span><br />
    全名：<span>{{fullName}}</span><br />
    全名：<span>{{fullName}}</span>
  </div>
  <script>
    const vm = new Vue({
      data() {
        return {
          firstName: '张',
          lastName: '三',
          x: '你好'
        }
      },
      methods: {
        sayHi() {
          console.log('Hi~');
        }
      },
      computed: {
        fullName: {
          get() {
            console.log('加载计算属性fullName...');
            /**
             * Vue已对get和set中的this做特殊处理，让其指向Vue实例
             * 因此，不建议使用箭头函数。如果使用箭头函数，this将指向window
             */
            return this.firstName + '-' + this.lastName;
          },
          set(value) {
            console.log('更改计算属性fullName...');
            const names = value.split('-');
            this.firstName = names[0];
            this.lastName = names[1];
          }
        }
      }
    });
    vm.$mount('#root');
    // vm._data上只有firstName、lastName、x
    // console.log(vm._data);
  </script>
</body>

</html>