<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0803_列表过滤</title>
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>列表过滤</h2>
        <input type="text" v-model="keyWord" />
        <ul>
            <li v-for="(p,index) in filterPersons" ::key="p.id">
                id:{{p.id}}---name:{{p.name}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false
        //#region 监视属性方法
        // const vm = new Vue({
        //     el: '#root',
        //     data: {
        //         keyWord: '',
        //         persons: [
        //             { id: '001', name: '周杰伦' },
        //             { id: '002', name: '周杰' },
        //             { id: '003', name: '陈奕迅' },
        //             { id: '004', name: '周迅' },
        //         ],
        //         filterPersons: []
        //     },
        //     watch: {
        //         keyWord: {
        //             immediate: true,
        //             handler: function (newValue) {
        //                 this.filterPersons = this.persons.filter((p) => {
        //                     return p.name.indexOf(newValue) !== -1;
        //                 })
        //             }
        //         }
        //     }
        // })
        //#endregion

        //#region 计算属性方法
        const vm = new Vue({
            el: '#root',
            data: {
                keyWord: '',
                persons: [
                    { id: '001', name: '周杰伦' },
                    { id: '002', name: '周杰' },
                    { id: '003', name: '陈奕迅' },
                    { id: '004', name: '周迅' },
                ]
            },
            computed: {
                filterPersons() {
                    // filter不会改变原数组，生成新数组
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWord) !== -1;
                    })
                }
            }
        })
        //#endregion
    </script>
</body>

</html>