<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.yeahicode.rbac.mapper.HrMapper">
    <select id="getHrByPhone" resultType="org.yeahicode.rbac.domain.Hr">
        select * from hr where phone = #{phone}
    </select>
</mapper>